body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas:
    "left middle right"
    "footer footer footer";
   
    /*margin:0;
    padding: 0;*/
    .left{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        grid-area: left;
        background-color: #000000;
        &__arriba{
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #282828;
            &_ico{
                color: #fff;
                margin: 10px;
            }
            &_a{
                font-size: 1rem;
                color: white;
                text-decoration: none;
            }
            
        }
    }
    .middle{
        display: flex;
        flex-direction: column;
        grid-area: middle;
        background-color: rgb(138, 53, 134);
    }
    .right{
        display: flex;
        flex-direction: column;
        grid-area: right;
        background-color: rgb(53, 138, 57);
    }
    .footer{
        display: flex;
        grid-area: footer;
        background-color: rgb(60, 53, 138);
    }
}