body{
    display: grid;
    grid-template-columns: 1fr 23fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas: 
    "left middle right"
    "footer footer footer";
    margin:0;
    padding: 0;
    .left{
        display: flex;
        flex-direction: column;
        grid-area: left;
        background-color: rgb(53, 138, 138);
    }
    .middle{
        display: flex;
        flex-direction: column;
        grid-area: left;
        background-color: rgb(138, 53, 134);
    }
    .right{
        display: flex;
        flex-direction: column;
        grid-area: left;
        background-color: rgb(53, 138, 57);
    }
    .footer{
        display: flex;
        grid-area: left;
        background-color: rgb(132, 138, 53);
    }
}