body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "left middle right" "footer footer footer";
  /*margin:0;
  padding: 0;*/
}
body .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  grid-area: left;
  background-color: #000000;
}
body .left__arriba {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 3px;
  width: 99%;
  gap: 10px;
}
body .left__arriba_ico {
  color: #fff;
  margin: 10px;
}
body .left__arriba_a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body .left__abajo {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 3px;
  width: 99%;
}
body .left__abajo_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 3px;
  width: 99%;
}
body .left__abajo_div1 {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 3px;
  width: 99%;
}
body .left__abajo_ico {
  color: #fff;
  margin: 10px;
}
body .left__abajo_a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
body .left__abajo_button {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 3px;
  width: 70px;
  height: 30px;
}
body .left__abajo_button1 {
  border-radius: 50px;
  background-color: #505050;
  width: 40px;
  border: none;
  align-items: center;
}
body .left__abajo_text {
  font-size: 0.9rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
body .left__abajo_div2 {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #2c2c2c;
  border-radius: 5px;
  margin: 3px;
  width: 99%;
}
body .left__abajo_img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}
body .middle {
  display: flex;
  flex-direction: column;
  grid-area: middle;
  background-color: #2c2c2c;
  border-radius: 5px;
}
body .middle__arriba {
  background-image: url(../img/wallpapercoldplay.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 5%;
  padding: 5px;
}
body .middle__arriba_btn {
  border-radius: 50px;
  background-color: #505050;
  width: 40px;
  height: 40px;
  border: none;
}
body .middle__arriba_btn_lg {
  border-radius: 50px;
  background-color: #505050;
  width: 120px;
  height: 40px;
  border: none;
}
body .middle__arriba_txt {
  display: inline;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
body .middle__arriba_ico {
  color: #fff;
}
body .middle__arriba_img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
body .middle__arriba_div1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
body .middle__arriba_title {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;
}
body .middle__arriba_verif {
  display: flex;
  align-items: start;
  justify-content: center;
}
body .middle__arriba_verifimg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
body .middle__arriba_veriftxt {
  display: inline;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body .middle__arriba_maintitle {
  margin: 0;
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
body .middle__arriba_subtitle {
  margin: 0;
}
body .middle__abajo {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
body .middle__abajo_div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
body .middle__abajo_img {
  width: 50px;
}
body .middle__abajo_ico {
  color: #fff;
}
body .middle__abajo_btn {
  border-radius: 50px;
  background-color: #505050;
  width: 120px;
  height: 40px;
  border: none;
  color: #fff;
}
body .middle__abajo_title {
  align-items: start;
  color: #fff;
  margin: 10px 0;
}
body .middle__abajo_music {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-content: space-around;
}
body .middle__abajo_div1 {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  gap: 5px;
}
body .middle__abajo_div2 {
  display: flex;
  grid-column: 2;
  grid-row: 1;
  gap: 5px;
}
body .middle__abajo_div3 {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  gap: 5px;
}
body .middle__abajo_div4 {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  gap: 5px;
}
body .middle__abajo_div5 {
  display: flex;
  grid-column: 2;
  grid-row: 2;
  gap: 5px;
}
body .middle__abajo_div6 {
  display: flex;
  grid-column: 3;
  grid-row: 2;
  gap: 5px;
}
body .middle__abajo_div7 {
  display: flex;
  grid-column: 1;
  grid-row: 3;
  gap: 5px;
}
body .middle__abajo_div8 {
  display: flex;
  grid-column: 2;
  grid-row: 3;
  gap: 5px;
}
body .middle__abajo_div9 {
  display: flex;
  grid-column: 3;
  grid-row: 3;
  gap: 5px;
}
body .middle__abajo_div10 {
  display: flex;
  grid-column: 1;
  grid-row: 4;
  gap: 5px;
}
body .middle__abajo_div11 {
  display: flex;
  grid-column: 2;
  grid-row: 4;
  gap: 5px;
}
body .middle__abajo_div12 {
  display: flex;
  grid-column: 3;
  grid-row: 4;
  gap: 5px;
}
body .middle__abajo_div13 {
  display: flex;
  grid-column: 1;
  grid-row: 5;
  gap: 5px;
}
body .middle__abajo_div14 {
  display: flex;
  grid-column: 2;
  grid-row: 5;
  gap: 5px;
}
body .middle__abajo_div15 {
  display: flex;
  grid-column: 3;
  grid-row: 5;
  gap: 5px;
}
body .middle__abajo_musicimg {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
body .middle__abajo_txt {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
body .right {
  display: flex;
  flex-direction: column;
  grid-area: right;
  background-color: rgb(53, 138, 57);
}
body .footer {
  display: flex;
  grid-area: footer;
  background-color: rgb(60, 53, 138);
}

/*# sourceMappingURL=style.css.map */
