body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas:
    "left middle right"
    "footer footer footer";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap:5px;
    background-color: #000000;

    .left{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        grid-area: left;
        &__arriba{
            display: flex;
            flex-direction: column;
            align-items: start;
            background-color: #2c2c2c;
            border-radius: 5px;
            padding: 10px;
            width: 99%;
            gap: 10px;
            box-sizing: border-box;
            &_ico{  
                color: #fff;
                margin: 10px;
            }
            &_a{
                font-size: 1rem;
                color: white;
                text-decoration: none;
                font-family:  Arial, Helvetica, sans-serif;
            }
            
        }
        &__abajo{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            background-color: #2c2c2c;
            border-radius: 5px;
            margin: 3px;
            width: 99%;
            height: 100%;
            &_div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #2c2c2c;
                border-radius: 5px;
                margin: 3px;
                width: 99%;
            }
            &_div1{
                display: flex;
                align-items: center;
                justify-content: start;
                background-color: #2c2c2c;
                border-radius: 5px;
                margin: 3px;
                width: 99%;
            }
            &_ico{  
                color: #fff;
                margin: 10px;
            }
            &_a{
                font-size: 1rem;
                color: white;
                text-decoration: none;
                font-family:  Arial, Helvetica, sans-serif;
            }
            &_button{
                background-color: #ffffff;
                border-radius: 20px;
                margin: 3px;
                width: 70px;
                height: 30px;
            }
            &_button1{
                border-radius: 50px;
                background-color: #505050;
                width: 40px;
                border: none;
                align-items: center;
            }
            &_text{
                font-size: .9rem;
                color: #ffffff;
                font-family:  Arial, Helvetica, sans-serif;
            }
            &_div2{
                display: flex;
                align-items: center;
                justify-content: end;
                background-color: #2c2c2c;
                border-radius: 5px;
                margin: 3px;
                width: 99%;
            }
            &_img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                margin-right: 10px;
            }
        }
    }
    .middle{
        display: flex;
        flex-direction: column;
        grid-area: middle;
        background-color: #2c2c2c;
        border-radius: 5px;
        &__arriba{
            background-image: url(../img/wallpapercoldplay.png);
            background-size: cover;
            background-position: center;   
            background-repeat: no-repeat; 
            background-position-y: 5%;
            padding: 5px;
            
            &_btn{
                border-radius: 50px;
                background-color: #505050;
                width: 40px;
                height: 40px;
                border: none;
                
            }
            &_btn_lg{
                border-radius: 50px;
                background-color: #505050;
                width: 120px;
                height: 40px;
                border: none;   
            }
            &_txt{  
                display: inline;
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin-left: 10px;
            }
            &_ico{
                color: #fff;
            }
            &_img{
                width: 30px;
                height: 30px;
                border-radius: 50px;
            }
            &_div1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 200px;
                
            }
            &_title{
                display: flex;
                flex-direction: column;
                align-items: start;
                color: #fff;
                
            }
            &_verif{
                display:flex;
                align-items: start;
                justify-content: center;
            }
            &_verifimg{
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
            &_veriftxt{
                display: inline;
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;

            }
            &_maintitle{
                margin: 0;
                font-size: 5rem;
                font-family: Arial, Helvetica, sans-serif;
            }
            &_subtitle{
                margin: 0;
            }
        }
        &__abajo{
            display: flex;
            flex-direction: column;
            padding: 5px;
            &_div{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
            }
            &_img{
                width: 50px;
            }
            &_ico{
                color:#fff;
            }
            &_btn{
                border-radius: 50px;
                background-color: #505050;
                width: 120px;
                height: 40px;
                border: none;
                color: #fff;
            }
            &_title{
                align-items: start;
                color: #fff;
                margin: 10px 0;
            }
            &_music{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(5, 1fr);
                align-items: center;
                justify-content: space-between;
                
                
            }
            &_div1{

                display: flex;
                grid-column: 1;
                grid-row: 1;
                gap:5px;
            }
            &_div2{
                display: flex;
                grid-column: 2;
                grid-row: 1;
                justify-content: center;
                gap:5px;
            }
            &_div3{
                display: flex;
                grid-column: 3;
                grid-row:1;
                justify-content: center;
                gap:5px;
            }
            &_div4{
                display: flex;
                grid-column: 1;
                grid-row: 2;
                gap:5px;
            }
            &_div5{
                display: flex;
                grid-column: 2;
                grid-row: 2;
                justify-content: center;
                gap:5px;
            }
            &_div6{
                display: flex;
                grid-column: 3;
                grid-row: 2;
                justify-content: center;
                gap:5px;
            }

            &_div7{
                display: flex;
                grid-column: 1;
                grid-row: 3;
                gap:5px;
            }

            &_div8{
                display: flex;
                grid-column: 2;
                grid-row: 3;
                justify-content: center;
                gap:5px;
            }
            &_div9{
                display: flex;
                grid-column: 3;
                grid-row: 3;
                justify-content: center;
                gap:5px;
            }
            &_div10{
                display: flex;
                grid-column: 1;
                grid-row: 4;
                gap:5px;
            }
            &_div11{
                display: flex;
                grid-column: 2;
                grid-row: 4;
                justify-content: center;
                gap:5px;
            }
            &_div12{
                display: flex;
                grid-column: 3;
                grid-row: 4;
                justify-content: center;
                gap:5px;
            }
            &_div13{
                display: flex;
                grid-column: 1;
                grid-row: 5;
                gap:5px;
            }
            &_div14{
                display: flex;
                grid-column: 2;
                grid-row: 5;
                justify-content: center;
                gap:5px;
            }
            &_div15{
                display: flex;
                grid-column: 3;
                grid-row: 5;
                justify-content: center;
                gap:5px;
            }
            &_musicimg{
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }
            &_txt{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
            }
            
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        grid-area: right;
        background-color: #2c2c2c;
        border-radius: 5px;
        box-sizing: border-box;
        &__arriba{
            display: flex;
            flex-direction: column;
            justify-content: start;
            &_div{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &_artist{
                color: #fff;
                margin: 0 20px;
            }
            &_ico{
                color: #fff;
                padding-right: 20px;
            }
            &_img{
                width: 400px;
                height: 300px;
                padding: 20px;
            }
            &_data{
                display: flex;
                justify-content: space-between;
                padding: 20px;
            }
            &_title{
                color: #fff;
                margin: 0;
            }
            &_txt{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;
            }
            
        }
        &__abajo{
            display:flex;
            flex-direction: column;
            justify-content: start;
            border-radius: 20px;
            background-color:gray;
            margin: 20px;
            &_bg{
                background-image: url(../img/clodplay.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 200px;
                padding: 20px;
            }
            &_inf{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;
            }
            &_ptxt{
                padding: 20px;
            }
            &_ptxt1{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &_artistitle{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;
            }
            &_ptxt2{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 5px 0;

            }
            &_btn{
                border-radius: 50px;
                background-color: #505050;
                width: 120px;
                height: 40px;
                border: none;
                color: #fff;
            }

        }
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-area: footer;
        background-color: #000000;
        &__left{
            display: flex;
            grid-column: 1;
            justify-content: start;
            align-items: start;
            &_img{
                width: 30px;
                height: 30px;
            }
            &_div{
                display: flex;
                flex-direction: column;
            }
            &_title{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;
            }
            &_txt{
                color: #fff;
                font-family:  Arial, Helvetica, sans-serif;
                margin: 0;
            }
            &_ico{
                color: #fff;
            }
        }
        &__middle{
            display: flex;
            grid-column: 2;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            &_ico{
                color: #fff;
            }
            &_timeline{
                width: 300px;
            }
        }
        &__right{
            display: flex;
            grid-column: 3;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            &_ico{
                color: #fff;
            }
        }
    }
}