body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-template-areas:
    "leftsection middlesection rightsection"
    "footer footer footer";
    margin: 0;
    padding: 0;
    .leftsection{
        display: flex;
        flex-direction: column;
        grid-area: leftsection;
        background-color: #1DB954;
        &__homesearch{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
        }
        &__title{
            font-size: 1rem;
            font-weight: bold;
            font-style: normal;
            color: white;
            justify-content: center;
        }
        &__icon{
            width: 50px;
        }
        .musiclibrary{
            display: flex;
            align-items: start;
            justify-content: space-between;
            &__icon{
                width: 50px;
            }
            &__title{
                font-size: 1rem;
                font-weight: bold;
                font-style: normal;
                color: white;
                justify-content: center;
            }
        }
        .staticselect{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            &__icon{
                width: 50px;
            }
        }
        .artistlist{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            &__title{
                font-size: 1rem;
                font-weight: bold;
                font-style: normal;
                color: white;
                justify-content: center;
            }
            &__icon{
                width: 50px;
            }
        }
        .trueartist{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            &__title{
                font-size: 1rem;
                font-weight: bold;
                font-style: normal;
                color: white;
                justify-content: center;
            }
            .artistname__icon{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

    }
    .middlesection{
        display: flex;
        flex-direction: column;
        grid-area: middlesection;
        background-color: #1db4b9;
        &__navegation{
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: space-between;
            background-image: url("../img/wallpapercoldplay.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: 5%;
            &__left{
                display: flex;
                align-items: center;
                justify-content: start;
                &__icon{
                    width: 50px;
                }
            }
            &__right{
                display: flex;
                align-items: center;
                justify-content: end;
                &__icon{
                    width: 50px;
                }
                &__title{
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: normal;
                    color: white;
                    justify-content: center;
                }
            }
        }
        &__title{
            margin-top: 200px;
            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            color: #fff;
            &__icon{
                width: 25px;
            }
            &_h1{
                font-size: 4rem;
                font-weight: bold;
                font-style: normal;
                margin: 0;
            }
        }
        &__list{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            margin: 20px;
            &__icon{
                width: 25px;
            }
            &__element{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                color: #fff;
                &__img{
                    width: 400px;
                }
                &__view{
                    font-size: 1rem;
                    font-weight: bold;
                    font-style: normal;
                    margin: 0;
                    color: #fff;
                }
            }
        }

    }  
    
    .rightsection{
        display: flex;
        flex-direction: column;
        grid-area: rightsection;
        background-color: #b94e1d;
        &__img{
            width: 500px;
            margin: 20px;
        }
        &__element{
            display:flex;
            justify-content: space-between;
            &__img{
                width: 50px;
            }
            &__title{
                font-size: 1rem;
                font-weight: bold;
                font-style: normal;
                color: white;
                justify-content: center;
            }
        }
    }
    .playcontrol{
        display: flex;
        grid-area: footer;
        background-color: #341db9;
        height: fit-content;
        &__left{
            display: flex;
            align-items: center;
            justify-content: start;
            &__img{
                width: 50px;
            }
        }

    }
}


