body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-template-areas: "leftsection middlesection rightsection" "footer footer footer";
  margin: 0;
  padding: 0;
}
body .leftsection {
  display: flex;
  flex-direction: column;
  grid-area: leftsection;
  background-color: #9dc554;
}
body .leftsection__homesearch {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
body .leftsection__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .leftsection__icon {
  width: 50px;
}
body .leftsection .musiclibrary {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
body .leftsection .musiclibrary__icon {
  width: 50px;
}
body .leftsection .musiclibrary__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .leftsection .staticselect {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
body .leftsection .staticselect__icon {
  width: 50px;
}
body .leftsection .artistlist {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
body .leftsection .artistlist__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .leftsection .artistlist__icon {
  width: 50px;
}
body .leftsection .trueartist {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
body .leftsection .trueartist__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .leftsection .trueartist .artistname__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body .middlesection {
  display: flex;
  flex-direction: column;
  grid-area: middlesection;
  background-color: #1db4b9;
}
body .middlesection__navegation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  background-image: url("../img/wallpapercoldplay.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 5%;
}
body .middlesection__navegation__left {
  display: flex;
  align-items: center;
  justify-content: start;
}
body .middlesection__navegation__left__icon {
  width: 50px;
}
body .middlesection__navegation__right {
  display: flex;
  align-items: center;
  justify-content: end;
}
body .middlesection__navegation__right__icon {
  width: 50px;
}
body .middlesection__navegation__right__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .middlesection__title {
  margin-top: 200px;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: #fff;
}
body .middlesection__title__icon {
  width: 25px;
}
body .middlesection__title_h1 {
  font-size: 4rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
body .middlesection__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 20px;
}
body .middlesection__list__icon {
  width: 25px;
}
body .middlesection__list__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #fff;
}
body .middlesection__list__element__img {
  width: 400px;
}
body .middlesection__list__element__view {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  color: #fff;
}
body .rightsection {
  display: flex;
  flex-direction: column;
  grid-area: rightsection;
  background-color: #b94e1d;
}
body .rightsection__img {
  width: 500px;
  margin: 20px;
}
body .rightsection__element {
  display: flex;
  justify-content: space-between;
}
body .rightsection__element__img {
  width: 50px;
}
body .rightsection__element__title {
  font-size: 1rem;
  font-weight: bold;
  font-style: normal;
  color: white;
  justify-content: center;
}
body .playcontrol {
  display: flex;
  grid-area: footer;
  background-color: #341db9;
  height: -moz-fit-content;
  height: fit-content;
}
body .playcontrol__left {
  display: flex;
  align-items: center;
  justify-content: start;
}
body .playcontrol__left__img {
  width: 50px;
}/*# sourceMappingURL=style.css.map */